<a href="https://colab.research.google.com/github/np03cs4a240306-blip/Saurav-Sapkota/blob/main/workshop2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Creating a simple Series
data = [10, 20, 30, 40]
series = pd.Series(data)

# Display the Series
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
import pandas as pd

# Creating a simple Series
series = pd.Series([10, 20, 30])

# Print the index of the Series
print(series.index)

RangeIndex(start=0, stop=3, step=1)

In [ ]:
import pandas as pd

# Creating a Series with a custom index
series = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

# Display the Series
print(series)

a    10
b    20
c    30
dtype: int64

In [ ]:
import pandas as pd

# Create a range of dates
dates = pd.date_range('2023-01-01', periods=3)

# Create a Series with dates as index
series = pd.Series([10, 20, 30], index=dates)

# Display the Series
print(series)

2023-01-01    10
2023-01-02    20
2023-01-03    30
Freq: D, dtype: int64

In [ ]:
import pandas as pd

# Sample Series with a custom index
series = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

# Access the index
print("Original Series index:", series.index)

# Set a new index
series.index = ['x', 'y', 'z']
print("\nSeries after setting new index:")
print(series)

# For DataFrame
df = pd.DataFrame({'A': [1, 2]}, index=['row1', 'row2'])
print("\nOriginal DataFrame:")
print(df)

# Reset index (converts the index into a column)
df.reset_index(inplace=True)
print("\nDataFrame after resetting index:")
print(df)

Original Series index: Index(['a', 'b', 'c'], dtype='object')

Series after setting new index:
x    10
y    20
z    30
dtype: int64

Original DataFrame:
      A
row1  1
row2  2

DataFrame after resetting index:
  index  A
0  row1  1
1  row2  2

In [ ]:
import pandas as pd

# Style 1: Simple DataFrame
df1 = pd.DataFrame({
    'Bob': ['I liked it.', 'It was awful'],
    'Sue': ['Pretty good.', 'Bland.']
})

print("Style 1 DataFrame:")
print(df1)

Style 1 DataFrame:
            Bob           Sue
0   I liked it.  Pretty good.
1  It was awful        Bland.

In [ ]:
import pandas as pd
from google.colab import files

# Upload the CSV file
uploaded = files.upload()

# The uploaded file name
filename = list(uploaded.keys())[0]

# Read the CSV file into a DataFrame
dataset = pd.read_csv(filename)

# Display the first 5 rows
print("First 5 rows:")
print(dataset.head())

# Display the last 5 rows
print("\nLast 5 rows:")
print(dataset.tail())

# Display dataset information
print("\nDataset Info:")
dataset.info()

# Optional: Summary statistics
print("\nSummary Statistics:")
print(dataset.describe())

In [ ]:
import pandas as pd

# Creating a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

# Creating a DataFrame
df = pd.DataFrame(data)

# Writing DataFrame to CSV
df.to_csv('output.csv', index=False)

# Display the DataFrame (optional)
print(df)

      Name           City
0    Alice       New York
1      Bob  San Francisco
2  Charlie    Los Angeles

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}

df = pd.DataFrame(data)

# View the first two rows
print("First two rows:")
print(df.head(2))

# View the last row
print("\nLast row:")
print(df.tail(1))

# DataFrame information
print("\nDataFrame Info:")
df.info()

# Summary statistics
print("\nSummary Statistics:")
print(df.describe())

# Check dimensions of the DataFrame
print(f"\nThe DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")

First two rows:
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

Last row:
      Name  Age  Salary
2  Charlie   35   70000

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

Summary Statistics:
        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

The DataFrame has 3 rows and 3 columns.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}

df = pd.DataFrame(data)

# Access the 'Age' column
print("Age column:")
print(df['Age'])

# Select rows by numerical index
print("\nFirst row using iloc:")
print(df.iloc[0])  # First row

# Select rows by condition
print("\nRows where Age > 30:")
print(df.loc[df['Age'] > 30])  # Rows where Age > 30

Age column:
0    25
1    30
2    35
Name: Age, dtype: int64

First row using iloc:
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object

Rows where Age > 30:
      Name  Age  Salary
2  Charlie   35   70000

In [ ]:
import pandas as pd

# Create DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Filter rows where Age > 28
filtered_rows = df[df['Age'] > 28]
print("Filtered rows (Age > 28):")
print(filtered_rows)

# Select specific columns
selected_columns = df[['Name', 'Salary']]
print("\nSelected columns (Name and Salary):")
print(selected_columns)

Filtered rows (Age > 28):
      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000

Selected columns (Name and Salary):
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Drop the 'Salary' column
df_without_salary = df.drop(columns=['Salary'])
print("DataFrame without Salary column:")
print(df_without_salary)

DataFrame without Salary column:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Drop the row with index 1 (Bob)
df_without_row = df.drop(index=1)

print("DataFrame after dropping row with index 1:")
print(df_without_row)

DataFrame after dropping row with index 1:
      Name  Age  Salary
0    Alice   25   50000
2  Charlie   35   70000

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Add a new column for Bonus (10% of Salary)
df['Bonus'] = df['Salary'] * 0.1

print("DataFrame with Bonus column:")
print(df)

DataFrame with Bonus column:
      Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   35   70000  7000.0

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

# Load the Iris dataset
iris = load_iris()

# Create a DataFrame with features and target
iris_df = pd.DataFrame(
    data = np.c_[iris['data'], iris['target']],
    columns = iris['feature_names'] + ['target']
)

# Introduce missing values randomly (10%)
np.random.seed(42)
mask = np.random.rand(*iris_df.shape) < 0.1
iris_df[mask] = np.nan

# Display missing values count for each column
print("Missing Values in Iris Dataset:")
print(iris_df.isnull().sum())

Missing Values in Iris Dataset:
sepal length (cm)    15
sepal width (cm)     15
petal length (cm)    19
petal width (cm)     15
target               19
dtype: int64

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

# Load the Iris dataset
iris = load_iris()
iris_df = pd.DataFrame(
    data = np.c_[iris['data'], iris['target']],
    columns = iris['feature_names'] + ['target']
)

# Introduce missing values randomly (10%)
np.random.seed(42)
mask = np.random.rand(*iris_df.shape) < 0.1
iris_df[mask] = np.nan

# Filling missing values
iris_df_ffill = iris_df.ffill()                       # Forward fill
iris_df_mean = iris_df.fillna(iris_df.mean())         # Fill with mean
iris_df_median = iris_df.fillna(iris_df.median())     # Fill with median
iris_df_zero = iris_df.fillna(0)                      # Fill with 0

# Expand iris_df with filled columns
iris_df_expanded = pd.concat([
    iris_df,
    iris_df_ffill.add_suffix('_ffill'),
    iris_df_mean.add_suffix('_mean'),
    iris_df_median.add_suffix('_median'),
    iris_df_zero.add_suffix('_zero')
], axis=1)

# Display the head of the expanded DataFrame
print("\nDataset after Filling Missing Values:")
print(iris_df_expanded.head())

Dataset after Filling Missing Values:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               NaN                1.4               0.2
2                NaN               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target  sepal length (cm)_ffill  sepal width (cm)_ffill  \
0     0.0                      5.1                     3.5
1     0.0                      4.9                     3.5
2     0.0                      4.9                     3.2
3     0.0                      4.6                     3.1
4     0.0                      5.0                     3.6

   petal length (cm)_ffill  petal width (cm)_ffill  target_ffill  ...  \
0                      1.4                     0.2           0.0  ...
1                      1.4                     0.2           0.0  ...
2                      1.3                     0.2           0.0  ...
3                      1.5                     0.2           0.0  ...
4                      1.4                     0.2           0.0  ...

   sepal length (cm)_median  sepal width (cm)_median  \
0                       5.1                      3.5
1                       4.9                      3.0
2                       5.8                      3.2
3                       4.6                      3.1
4                       5.0                      3.6

   petal length (cm)_median  petal width (cm)_median  target_median  \
0                       1.4                      0.2            0.0
1                       1.4                      0.2            0.0
2                       1.3                      0.2            0.0
3                       1.5                      0.2            0.0
4                       1.4                      0.2            0.0

   sepal length (cm)_zero  sepal width (cm)_zero  petal length (cm)_zero  \
0                     5.1                    3.5                     1.4
1                     4.9                    0.0                     1.4
2                     0.0                    3.2                     1.3
3                     4.6                    3.1                     1.5
4                     5.0                    3.6                     1.4

   petal width (cm)_zero  target_zero
0                    0.2          0.0
1                    0.2          0.0
2                    0.2          0.0
3                    0.2          0.0
4                    0.2          0.0

[5 rows x 25 columns]

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice ', ' Bob '],
    'Age': [25, 30]
})

# Remove leading and trailing spaces from the 'Name' column
df['Name'] = df['Name'].str.strip()

print("DataFrame after stripping spaces from 'Name' column:")
print(df)

DataFrame after stripping spaces from 'Name' column:
    Name  Age
0  Alice   25
1    Bob   30

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Age': ['25', '30', '35']  # Age as strings
})

# Change 'Age' column data type to integer
df['Age'] = df['Age'].astype(int)

print("DataFrame after converting 'Age' to integer:")
print(df)

DataFrame after converting 'Age' to integer:
   Age
0   25
1   30
2   35

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

# Rename columns
df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})

print("DataFrame after renaming columns:")
print(df)

DataFrame after renaming columns:
  Full Name  Years
0     Alice     25
1       Bob     30

In [ ]:
import pandas as pd

# Sample DataFrame with duplicate rows
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Alice'],
    'Age': [25, 30, 25]
})

# Remove duplicate rows
df = df.drop_duplicates()

print("DataFrame after removing duplicates:")
print(df)

DataFrame after removing duplicates:
    Name  Age
0  Alice   25
1    Bob   30

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
    'Temperature': [15, 18, 16, 19]
}

df = pd.DataFrame(data)

# Pivot: Reshape data to show cities as columns
pivoted_df = df.pivot(index='Date', columns='City', values='Temperature')

print("Pivoted DataFrame:")
print(pivoted_df)

Pivoted DataFrame:
City        Kathmandu  Pokhara
Date
2024-01-01         15       18
2024-01-02         16       19

In [ ]:
import pandas as pd

# Sample pivoted DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-02'],
    'Kathmandu': [15, 16],
    'Pokhara': [18, 19]
}
pivoted_df = pd.DataFrame(data).set_index('Date')

# Melt: Convert wide data back to long format
melted_df = pd.melt(
    pivoted_df.reset_index(),
    id_vars=['Date'],
    var_name='City',
    value_name='Temperature'
)

print("Melted DataFrame:")
print(melted_df)

Melted DataFrame:
         Date       City  Temperature
0  2024-01-01  Kathmandu           15
1  2024-01-02  Kathmandu           16
2  2024-01-01    Pokhara           18
3  2024-01-02    Pokhara           19

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()

# Create a DataFrame with features only
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])

# Min-Max Scaling using Pandas
iris_minmax_scaled = (iris_df - iris_df.min()) / (iris_df.max() - iris_df.min())

# Display original and scaled DataFrames
print("Original Iris DataFrame:")
print(iris_df.head())

print("\nMin-Max Scaled Iris DataFrame:")
print(iris_minmax_scaled.head())

Original Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Min-Max Scaled Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [ ]:
import pandas as pd

# Sample DataFrame with ordinal categories
df = pd.DataFrame({
    'Category': ['Low', 'Medium', 'High', 'Low', 'High']
})

# Ordinal encoding using map
ordinal_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
df['Category_Ordinal'] = df['Category'].map(ordinal_mapping)

print("DataFrame with ordinal encoding:")
print(df)

DataFrame with ordinal encoding:
  Category  Category_Ordinal
0      Low                 1
1   Medium                 2
2     High                 3
3      Low                 1
4     High                 3

In [ ]:
import pandas as pd

# Sample DataFrame with municipalities
df_municipalities = pd.DataFrame({
    'Municipality': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Madhyapur Thimi', 'Kirtipur']
})

# One-hot encoding using get_dummies
one_hot_encoding = pd.get_dummies(df_municipalities['Municipality'], prefix='Municipality')

# Concatenate original DataFrame with encoded columns
df_encoded = pd.concat([df_municipalities, one_hot_encoding], axis=1)

print("DataFrame after one-hot encoding:")
print(df_encoded)

DataFrame after one-hot encoding:
      Municipality  Municipality_Bhaktapur  Municipality_Kathmandu  \
0        Kathmandu                   False                    True
1        Bhaktapur                    True                   False
2         Lalitpur                   False                   False
3  Madhyapur Thimi                   False                   False
4         Kirtipur                   False                   False

   Municipality_Kirtipur  Municipality_Lalitpur  Municipality_Madhyapur Thimi
0                  False                  False                         False
1                  False                  False                         False
2                  False                   True                         False
3                  False                  False                          True
4                   True                  False                         False

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Row-wise concatenation
combined_rows = pd.concat([df1, df2], axis=0)
print("Row-wise concatenation:")
print(combined_rows)

# Column-wise concatenation
combined_cols = pd.concat([df1, df2], axis=1)
print("\nColumn-wise concatenation:")
print(combined_cols)

Row-wise concatenation:
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

Column-wise concatenation:
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 88]})

# Inner join
inner_merged = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:")
print(inner_merged)

# Left join
left_merged = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_merged)

# Outer join
outer_merged = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Join:")
print(outer_merged)

Inner Join:
   ID     Name  Score
0   2      Bob     85
1   3  Charlie     90

Left Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0

Outer Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0
3   4      NaN   88.0